use_default_settings: true
server:
  port: 8080
  bind_address: "0.0.0.0"
  secret_key: "f8gJkL9mNpQrStUvWxYz1234567890AB"
  limiter: false
  image_proxy: true

search:
  safe_search: 0
  formats:
    - html
    - json

engines:
  - name: google
    engine: google
    shortcut: g
    disabled: false
